<section class="presentation" [class.on-big-screen]="isBigScreen">
    <div class="hello-world">
        <h1>HI, I'm <span class="name">Daniel Otero.</span></h1>
        <h3>A Full-stack software engineer</h3>
    </div>
    <div class="overview">
        <p>
            I have over {{yearsOfExperience}} years of experience in software engineering,
            working on diverse projects across various domains and technologies.
        </p>
        <p>
            I have build applications with <mat-chip>Php</mat-chip>, <mat-chip>Python</mat-chip>,
            <mat-chip>C#</mat-chip>, <mat-chip>Javascript</mat-chip>. And have used some frameworks and libraries like
            <mat-chip>.Net Framework</mat-chip> and <mat-chip>.Net Core</mat-chip>, <mat-chip>Django</mat-chip>,
            <mat-chip>Angular</mat-chip> and <mat-chip>React</mat-chip>
        </p>
        <p>
            I have experience on <mat-chip>system design</mat-chip> for both on-premises and for the cloud on
            <mat-chip>Azure</mat-chip> and <mat-chip>GCP</mat-chip>. I have worked designing <mat-chip>microservices</mat-chip>, and
            modeling <mat-chip>Databases</mat-chip> either for <mat-chip>Relational databases</mat-chip> and <mat-chip>NoSql</mat-chip>
        </p>
        <p>
            When I'm not coding I do spend my time reading comic books, doing some music or playing basketball.
        </p>
    </div>
</section>
