<div class="wrapper">
  <mat-toolbar color="accent">
    <mat-toolbar-row [class.toolbar-on-big-screen]="isLargeScreen">

      <span>Oscar Daniel Pérez Otero</span>
      <span class="toolbar-spacer"></span>
      <div class="toolbar-menu" *ngIf="!(isHandset | async)">
        <a mat-button><mat-icon>face</mat-icon>About Me</a>
        <a mat-button><mat-icon>work</mat-icon>Experience</a>
        <a mat-button><mat-icon>waving_hand</mat-icon>Contact</a>
      </div>
      <button mat-icon-button *ngIf="(isHandset | async) && sideMenu.opened" (click)="sideMenu.toggle()">
        <mat-icon *ngIf="(isHandset | async) && sideMenu.opened">close</mat-icon>
      </button>
      <button mat-icon-button *ngIf="(isHandset | async) && !sideMenu.opened" (click)="sideMenu.toggle()">
        <mat-icon *ngIf="(isHandset | async) && !sideMenu.opened">menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav class="side-menu on-mobile-and-tablet" #sideMenu position="end">
      <a mat-button class="menu-side-button"><mat-icon>face</mat-icon>About Me</a>
      <a mat-button class="menu-side-button"><mat-icon>work</mat-icon>Experience</a>
      <a mat-button class="menu-side-button"><mat-icon>waving_hand</mat-icon>Contact</a>
    </mat-sidenav>
    <mat-sidenav-content [class.on-mobile-and-tablet]="(isHandset|async)">
      <div class="content" [class.content-on-big-screen]="isLargeScreen">
        <app-about-me></app-about-me>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
